################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/Archive
/.vs
/JSON/Schemas
/src/QuadtreeDemo.aps
/QuadtreeDemo.ini
/userdat
*.bak
/QuadtreeDemo_v2.35_Src
/QuadtreeDemo_v2.35_Src.zip
/QuadtreeDemo_VS-2022.vcxproj.user
/QuadtreeDemo_v2.35_Binaries_x86
/CMakeLists-20230205.txt
/new tree.txt
