################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Release
/Archive
/.vs
/JSON/Schemas
/src/QuadtreeDemo.aps
/QuadtreeDemo.ini
/userdat
*.bak
/QuadtreeDemo_v2.35_Src
/QuadtreeDemo_v2.35_Src.zip
